body {
  color: #fff;
  font-family: 'Averia Serif Libre', Arial;
  background-color: #2A2C2B;
  background-image: radial-gradient(circle at center center, #ffffff, #2A2C2B), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#game {
  background-color: #FFF;
  background-size: 20px 20px;
  border-radius: 10px;
  display: block;
  margin: auto;
}
main {
  width: 100%;
  margin: auto;
}
header, footer, canvas {
  width: 100%;
  text-align: center;
}
header, footer {
  padding: 1em 0;
}
footer a {
  display: inline-block;
  color: #fff;
}
#gameContainer {
  position: relative;
}
/* Start mute toggle here */
#muteToggle {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: Calc(50% + 150px);
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  transform: scale(1.5);
}
#muteToggle span {
  display: block;
  width: 8px;
  height: 8px;
  background: #706C61;
  margin: 11px 0 0 2px;
}
#muteToggle span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #706C61 transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
#muteToggle span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #706C61;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
#muteToggle:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
#muteToggle.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
