body {
  color: #fff;
  font-family: 'Averia Serif Libre', Arial;
  background-color: #2A2C2B;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#gameContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
#game {
  display: block;
  border-radius: 10px;
  margin: auto;

  /* Scaling for smaller devices */
  max-width: 100%;
  height: auto;
  object-fit: scale-down;

  /* Background */
  background-color: #FFF;
  background-image: url('img/background.svg');
  background-repeat: repeat-x;
  background-position: left center;
  background-size: 2760px;

  /* Remove interaction */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
main {
  width: 100%;
  margin: auto;
}
header, footer, canvas {
  width: 100%;
  text-align: center;
}
header, footer {
  padding: 1em 0;
}
footer a {
  display: inline-block;
  color: #fff;
}
/* Start mute toggle here */
#muteToggle {
  cursor: pointer;
  position: absolute;
  top: 20px;
  /*left: Calc(50% + 150px);*/
  right: 20px;
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  transform: scale(1.5);
}
#muteToggle span {
  display: block;
  width: 8px;
  height: 8px;
  background: #706C61;
  margin: 11px 0 0 2px;
}
#muteToggle span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #706C61 transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
#muteToggle span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #706C61;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
#muteToggle:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
#muteToggle.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
